/* Popup.css */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width of the card */
  z-index: 9999;
  padding: 20px;
  color: #fff;
}

.popup-content {
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
